{% load static %}
<link rel="stylesheet" href="{% static 'shop/catalog.css' %}" />

<div class="catalog-filter">
    <form method="get">
        {{ filter_form }}
        <input type="submit" value="{{ apply_button }}" />
    </form>
</div>

<div class="catalog-sort">
    <form method="get">
        {{ sort_form }}
        <input type="submit" value="{{ apply_button }}" />
    </form>
</div>

{% for product, like_form in view.product_cards %}
    <div class="product-card">
        <b>Name:</b>
        <a href="{% url 'shop:product-detail' product.pk %}">
            {{ product.name }}
        </a>
        </br>
        <b>Price:</b> {{ product.price }}
        </br>
        <form action="{% url 'shop:product-card-like' product.id %}" class="like-incard" method="post">
            {% csrf_token %}
            {{ like_form }}
            <input type="submit" value="{{ like_button }}" /> {{ product.likes.qty }}
        </form>
    </div>
{% endfor %}
