{% load static %}
<link rel="stylesheet" href="{% static 'shop/catalog.css' %}" />

<div class="catalog-filter">
    <p>Filters</p>
    <form action="{% url 'shop:catalog-filter' %}" method="get">
        <div class="category-field">
            {% for field in filter_form.category_fields %}
                <fieldset>
                    {{ field.legend_tag }}
                    {% for checkbox in field %}
                        <label for="{{ checkbox.id_for_label }}">
                            <span class="checkbox">{{ checkbox.tag }}</span>
                            {{ checkbox.data.value.value }}
                        </label>
                    {% endfor %}
                </fieldset>
            {% endfor %}
        </div>
        <div class="price-range-field">
            {{ filter_form.price.render }}
        </div>
        <div class="retail-field">
            {{ filter_form.retail.render }}
        </div>
        {% for field in filter_form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <input type="submit" value="{{ apply_button }}" />
    </form>
</div>

<div class="catalog-sort">
    <form method="get">
        {{ sort_form }}
        <input type="submit" value="{{ apply_button }}" />
    </form>
</div>

{% for product, like_form, add_form in view.product_cards %}
    <div class="product-card">
        <b>Name:</b>
        <a href="{% url 'shop:product-detail' product.pk %}">
            {{ product.name }}
        </a>
        </br>
        <b>Price:</b> {{ product.price }}
        </br>
        <form action="{% url 'shop:product-card-like' product.id %}" class="like-incard" method="post">
            {% csrf_token %}
            {{ like_form }}
            <button type="submit">{{ like_button }}</button> {{ product.likes.qty }}
        </form>
        {% if add_form is True %}
            <a href="/link-to-cart-will-be-here/">{{ link_to_cart }}</a>
        {% else %}
            <form action="{% url 'shop:product-card-add' product.id %}" class="add-incard" method="post">
                {% csrf_token %}
                {{ add_form }}
                <button type="submit">{{ add_to_cart_button }}</button>
            </form>
        {% endif %}
    </div>
    </br>
{% endfor %}
