<h1>{{ product.name }}</h1>
<p>{{ product.description }}</p>
Tap to like:
<form action="{% url 'shop:like' product.id %}" method="post">
{% csrf_token %}
    <input type="submit" value="Like {{ product.likes }}" />
</form>
Tap to add to cart:
<form action="{% url 'shop:add_to_cart' product.id %}" method="post">
{% csrf_token %}
    <input type="submit" value="Add to cart" />
</form>
<p>
    <a href={% url 'shop:purchase' product.id %}>Buy</a> | 
    <a href={% url 'shop:index' %}>Back to catalog</a>
</p>
